<section class="card register">
  <form name="myform" ng-submit="register()" novalidate>

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
        <p ng-show="message">{{message}}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" ng-model="user.firstname" ng-required="true" placeholder="First Name">
      <input type="text" name="lastname" ng-model="user.lastname" ng-required="true" placeholder="Last Name">
      <input type="email" name="email" ng-model="user.email" ng-required="true" placeholder="Email">
      <input type="password" name="password" ng-model="user.password" ng-required="true" placeholder="Password">
    </fieldset>

    <button type="submit" class="btn btn-primary" ng-disabled="myform.$invalid">Register</button>
    <p>or <a ui-sref="login">login</a></p>
  </form>
</section>
