<div class="title">
  <h1>Defendant Details</h1>
</div>
<!-- scFormInfo.defendant.s1 -->
<div class="well" ng-hide="scFormInfo.defendant.s1.finished">
  <div class="form-group row">
    <div class="col-xs-6">
      <label for="numDefendants"># of defendant</label>
      <select ng-model="sc100Deets.dNum" ng-options="x for x in scFormInfo.defendant.s1.num">
      </select>
    </div><!-- End num of plaintiff col -->
  </div><!-- End form-group row -->
  <button type="button" class="btn btn-block btn-info" ng-click="numOfDefendants()">Next</button>
</div><!-- End Plaintiff Section 1 -->
<!--scFormInfo.plaintiff.s2 -->
<div data-ng-repeat="d in sc100Deets.defendants">
  <uib-accordion close-others="oneAtAtTime">
    <div uib-accordion-group class="panel-default" heading="Defendant {{d.id}}">
      <fieldset>
        <h1>Defendant {{d.id}}</h1>
        <!-- Military and Type -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="d{{d.id}}.active">Is the defendant on active military duty?</label>
            <select ng-model="d.military" ng-options="x for x in scFormInfo.defendant.s2.militaryDuty"></select>
          </div>
          <div class="col-xs-6">
            <label for="d{{d.id}}.type">Type</label>
            <select ng-model="d.type" ng-options="x for x in scFormInfo.defendant.s2.type"></select>
          </div>
        </div>
        <!-- First and Last -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="d{{d.id}}.firstName">First Name</label>
            <input type="text" class="form-control" name="d{{d.id}}.firstName" ng-model="d.firstName">
          </div>
          <div class="col-xs-6">
            <label for="d{{d.id}}.lastName">Last Name</label>
            <input type="text" class="form-control" name="d{{d.id}}.lastName" ng-model="d.lastName">
          </div>
        </div>
        <!-- Email and Phone -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="d{{d.id}}.email">Email</label>
            <input type="email" class="form-control" name="d{{d.id}}.email" ng-model="d.email">
          </div>
          <div class="col-xs-6">
            <label for="d{{d.id}}.phone">Phone</label>
            <input type="tel" class="form-control" name="d{{d.id}}.phone" ng-model="d.phone">
          </div>
        </div>
        <hr>
        <!-- Street Address -->
        <div class="form-group row">
          <div class="col-xs-12 col-md-12">
            <label for="d{{d.id}}.streetAddress">Street Address</label>
            <input type="text" class="form-control" name="d{{d.id}}.streetAddress" ng-model="d.streetAddress">
          </div>
          <div class="col-xs-12 col-md-6">
            <label for="d{{d.id}}.streetCity">City</label>
            <input type="text" class="form-control" name="d{{d.id}}.streetCity" ng-model="d.streetCity">
          </div>
          <div class="col-xs-6 col-md-2">
            <label for="d{{d.id}}.streetState">State</label>
            <input type="text" class="form-control" name="d{{d.id}}.streetState" ng-model="d.streetState">
          </div>
          <div class="col-xs-6 col-md-4">
            <label for="d{{d.id}}.streetZip">Zip</label>
            <input type="text" class="form-control" name="d{{d.id}}.streetZip" ng-model="d.streetZip">
          </div>
        </div>
        <hr>
        <!-- Mailing Address -->
        <div class="form-group row">
          <div class="col-xs-12 col-md-12">
            <label for="d{{d.id}}.mailingAddress">Mailing Address (If Different)</label>
            <input type="text" class="form-control" name="d{{d.id}}.mailingAddress" ng-model="d.mailingAddress">
          </div>
          <div class="col-xs-12 col-md-6">
            <label for="d{{d.id}}.mailingCity">City</label>
            <input type="text" class="form-control" name="d{{d.id}}.mailingCity" ng-model="d.mailingCity">
          </div>
          <div class="col-xs-6 col-md-2">
            <label for="d{{d.id}}.mailingState">State</label>
            <input type="text" class="form-control" name="d{{d.id}}.mailingState" ng-model="d.mailingState">
          </div>
          <div class="col-xs-6 col-md-4">
            <label for="d{{d.id}}.mailingZip">Zip</label>
            <input type="text" class="form-control" name="d{{d.id}}.mailingZip" ng-model="d.mailingZip">
          </div>
        </div>
      </fieldset>
    </div><!-- End accordion-group div -->
  </uib-accordion>
  <a ui-sref="sc100.dispute" ng-click="activeMilitary()" ng-show="$last" class="btn btn-block btn-info">Next Section</a>
</div><!-- End div for data-ng-repeat -->
