<div class="title">
  <h1>Plaintiff Details</h1>
</div>
<!-- scFormInfo.plaintiff.s1 -->
<div class="well" ng-hide="scFormInfo.plaintiff.s1.finished">  
  <div class="form-group row">
    <div class="col-xs-6">
      <label for="numPlaintiffs"># of Plaintiffs</label>
      <select ng-model="sc100Deets.pNum" ng-options="x for x in scFormInfo.plaintiff.s1.num">
      </select>
    </div><!-- End num of plaintiff col -->
  </div><!-- End form-group row -->
  <button type="button" class="btn btn-block btn-info" ng-click="numOfPlaintiffs()">Next</button>
</div><!-- End Plaintiff Section 1 -->
<!--scFormInfo.plaintiff.s2 -->
<div data-ng-repeat="p in sc100Deets.plaintiffs">
  <uib-accordion close-others="oneAtAtTime">
    <div uib-accordion-group class="panel-default" heading="Plaintiff {{p.id}}">
      <fieldset>
        <h1>Plaintiff {{p.id}}</h1>
        <!-- Type -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="p{{p.id}}.type">Type</label>
            <select ng-model="p.type" ng-options="x for x in scFormInfo.plaintiff.s2.type"></select>
          </div><!-- End type of plaintiff col -->
        </div>
        <!-- First and Last -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="p{{p.id}}.firstName">First Name</label>
            <input type="text" class="form-control" name="p{{p.id}}.firstName" ng-model="p.firstName">
          </div>
          <div class="col-xs-6">
            <label for="p{{p.id}}.lastName">Last Name</label>
            <input type="text" class="form-control" name="p{{p.id}}.lastName" ng-model="p.lastName">
          </div>
        </div>
        <!-- Email and Phone -->
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="p{{p.id}}.email">Email</label>
            <input type="email" class="form-control" name="p{{p.id}}.email" ng-model="p.email">
          </div>
          <div class="col-xs-6">
            <label for="p{{p.id}}.phone">Phone</label>
            <input type="tel" class="form-control" name="p{{p.id}}.phone" ng-model="p.phone">
          </div>
        </div>
        <hr>
        <!-- Street Address -->
        <div class="form-group row">
          <div class="col-xs-12 col-md-12">
            <label for="p{{p.id}}.streetAddress">Street Address</label>
            <input type="text" class="form-control" name="p{{p.id}}.streetAddress" ng-model="p.streetAddress">
          </div>
          <div class="col-xs-12 col-md-6">
            <label for="p{{p.id}}.streetCity">City</label>
            <input type="text" class="form-control" name="p{{p.id}}.streetCity" ng-model="p.streetCity">
          </div>
          <div class="col-xs-6 col-md-2">
            <label for="p{{p.id}}.streetState">State</label>
            <input type="text" class="form-control" name="p{{p.id}}.streetState" ng-model="p.streetState">
          </div>
          <div class="col-xs-6 col-md-4">
            <label for="p{{p.id}}.streetZip">Zip</label>
            <input type="text" class="form-control" name="p{{p.id}}.streetZip" ng-model="p.streetZip">
          </div>
        </div>
        <hr>
        <!-- Mailing Address -->
        <div class="form-group row">
          <div class="col-xs-12 col-md-12">
            <label for="p{{p.id}}.mailingAddress">Mailing Address (If Different)</label>
            <input type="text" class="form-control" name="p{{p.id}}.mailingAddress" ng-model="p.mailingAddress">
          </div>
          <div class="col-xs-12 col-md-6">
            <label for="p{{p.id}}.mailingCity">City</label>
            <input type="text" class="form-control" name="p{{p.id}}.mailingCity" ng-model="p.mailingCity">
          </div>
          <div class="col-xs-6 col-md-2">
            <label for="p{{p.id}}.mailingState">State</label>
            <input type="text" class="form-control" name="p{{p.id}}.mailingState" ng-model="p.mailingState">
          </div>
          <div class="col-xs-6 col-md-4">
            <label for="p{{p.id}}.mailingZip">Zip</label>
            <input type="text" class="form-control" name="p{{p.id}}.mailingZip" ng-model="p.mailingZip">
          </div>
        </div>
      </fieldset>
    </div><!-- End accordion-group div -->
  </uib-accordion>
  <a ui-sref="sc100.defendant" ng-click="fictBus()" ng-show="$last" class="btn btn-block btn-info">Next Section
  </a>
</div><!-- End div for data-ng-repeat -->
