<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
      <div id="form-container">
          <div class="page-header text-center">
              <h2>Time to File!</h2>
              <div id="status-buttons" class="text-center">
                  <a ui-sref-active="active" ui-sref=".plaintiff"><span>1</span></a>
                  <a ui-sref-active="active" ui-sref=".defendant"><span>2</span></a>
                  <a ui-sref-active="active" ui-sref=".dispute"><span>3</span></a>
              </div>
          </div>
          <div class="quizStart text-center" ng-hide="quizResults.quizStarted == true">
            <button ui-sref=".plaintiff" class="btn btn-primary">Begin</button>
          </div>

          <!-- use ng-submit to catch the form submission and use our Angular function -->
          <form id="signup-form" ng-submit="processForm()">

              <!-- our nested state views will be injected here -->
              <div id="sc100-views" ui-view></div>
        </form>
      </div>
      <div>
        <p>SC Deets</p>
        <pre>
          {{ sc100Deets }}
        </pre>
        <p>To Do</p>
        <pre>
          {{toDoList}}
        </pre>
      </div>
  </div>
</div>