<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h2>First things first.</h2>
    <p>Have you asked the defendant(s) to pay you?</p>
  </div>
  <div class="panel-body text-center">
    <fieldset>
      <div class="row">
        <div class="col-md-12">
          <label for="asked">Select</label>
          <select ng-model="quizResults.asked" ng-options="x for x in infoObject.formInfo.asked">
          </select>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="optionelems text-center">
  <div ng-if="quizResults.asked == 'Yes'">
    <a href="#!/quiz/step2" type="button" class="btn btn-primary">Next</a>
  </div>
  <div ng-if="quizResults.asked == 'No'">
    <h1>Oh, snap! You have to reach out via phone, email or snail-mail before you can file.</h1>
    <h2>Click Here to File Demand Letter</h2>
    <p>Currently being built.</p>
  </div>
</div>
